<form #myForm="ngForm" (ngSubmit) = "formSubmit(); myForm.reset()">
    <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="person.firstName">
        
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="person.lastName">
    </div>
    <div>
        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="person.phoneNumber">
    </div>
    <div *ngIf = "currentRoute === 'admin'|| currentRoute === 'teacher'">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" [(ngModel)]="person.email">
    </div>
    <div>
        <label for="address">Address</label>
        <input type="text" id="address" name="address" [(ngModel)]="person.address">
    </div>
    <div *ngIf = "currentRoute === 'teacher'">
        <label for="classes">Class</label>
        <input type="text" id="classes" name="classes" [(ngModel)]="person.classes">
    </div>
    <div  *ngIf = "currentRoute === 'teacher'" >
        <label for="material">Material</label>
        <input type="text" id="material" name="material" [(ngModel)]="person.material">
    </div>
    <div *ngIf = "currentRoute === 'admin'">
        <label for="userName">User Name</label>
        <input type="text" id="userName" name="userName" [(ngModel)]="person.userName">
    </div>
    <button type="submit">Save</button>    
    <button (click)="cancelSubmission()">X Cancel</button>
</form>