<div class="formSectionWrapper">
    <div class="formContainer">
        <h4>Add {{currentRoute}}</h4>
    <form (ngSubmit) = "formSubmit(person)" class="fromBody" #addForm="ngForm">
        <div class="inputsContainer">
            <div class="inputBox">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" [(ngModel)]="person.firstName" placeholder="First name" #firstName="ngModel" required>
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                    <div *ngIf="firstName.errors.required" class="RequiredError">
                        This field is required!
                    </div>
                </div>
            </div>
            <div class="inputBox">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" [(ngModel)]="person.lastName" placeholder="Last name" #lastName="ngModel" required>
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    <div *ngIf="lastName.errors.required" class="RequiredError">
                        This field is required!
                    </div>
                </div>
            </div>
            <div class="inputBox">
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="person.phoneNumber" placeholder="Phone number" #phoneNumber="ngModel" required>
                <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
                    <div *ngIf="phoneNumber.errors.required" class="RequiredError">
                        This field is required!
                    </div>
                </div>
            </div>
            <div *ngIf = "currentRoute === 'admin'|| currentRoute === 'teacher'" class="inputBox">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" [(ngModel)]="person.email" placeholder="Email" #email="ngModel" required email>
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required" class="RequiredError">
                        This field is required!
                    </div>
                    <div class="RequiredError">
                        Enter a valid email address
                    </div>
                </div>
                
            </div>
            <div class="inputBox">
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" [(ngModel)]="person.address" placeholder="Address" #address="ngModel" required>
                <div *ngIf="address.invalid && (address.dirty || address.touched)">
                    <div *ngIf="address.errors.required" class="RequiredError">
                        This field is required!
                    </div>
                </div>
            </div>
            <div *ngIf = "currentRoute === 'teacher'" class="inputBox">
                <label for="classes">Class:</label>
                <input type="text" id="classes" name="classes" [(ngModel)]="person.classes" placeholder="Classes" #classes="ngModel" required>
                <div *ngIf="classes.invalid && (classes.dirty || classes.touched)">
                    <div *ngIf="classes.errors.required" class="RequiredError">
                        This field is required!
                    </div>
                </div>
            </div>
            <div  *ngIf = "currentRoute === 'teacher'" class="inputBox">
                <label for="material">Material:</label>
                <input type="text" id="material" name="material" [(ngModel)]="person.material" placeholder="Material" #material="ngModel" required>
                <div *ngIf="material.invalid && (material.dirty || material.touched)">
                    <div *ngIf="material.errors.required" class="RequiredError">
                        This field is required!
                    </div>
                </div>
            </div>
            <div *ngIf = "currentRoute === 'admin'" class="inputBox">
                <label for="userName">User Name:</label>
                <input type="text" id="userName" name="userName" [(ngModel)]="person.userName" placeholder="User name" #userName="ngModel" required>
                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
                    <div *ngIf="userName.errors.required" class="RequiredError">
                        This field is required!
                    </div>
                </div>
            </div>
        </div>
        <div class="imgAndBtnsContainer">
            <img [src]="currentRoute === 'admin' ? AdminSrcImage : currentRoute === 'teacher' ? TeacherSrcImage: ParentSrcImage">
            <div class="formBtnContainer">
                <button type="submit" [disabled]="addForm.invalid">Save</button>    
                <button (click)="cancelSubmission()">X Cancel</button>
            </div>
            
        </div>
       
     
    </form>
    </div>
    </div>