.navContainer{
    background-color:#00968b;
    list-style-type: none;
    height: 70px;
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    padding: 0;
    width: 100%;
    position : fixed;
 
}

.navLinks{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

.navLinks li{
    color: white;
    padding: 5px 10px;
    position: relative; 
    margin-right: 40px;
    text-decoration: none;
   
}

.navLinks li:hover{
    background-color: #ef5e4a; 
    border-bottom: 3px solid #00968B;
    top: 20%;
}

.navLinks li:focus{
    background-color: #ef5e4a; 
    border-bottom: 3px solid #00968B;
    top: 20%;
    outline: none;

}

.navLinks li a{
    text-decoration: none;
    color: white;
    vertical-align: top; 
    display: inline-block;
    margin-left: -50px;
    margin-top: 35px;
    padding-left: 10px;
}

.navIcons{
    font-size: 2em;
    color: white;
}

.logOut{
    padding: 10px 5px;
    float: right;
    margin-left: auto;
}