<nav  class="navContainer">
  <ul class="navLinks">
    <li>
      <a class="button" routerLink="/dashboard" routerLinkActive="activebutton">
        Dashboard</a>
    </li>
    <li>
      <a class="button" routerLink="/parent" routerLinkActive="activebutton">Parent</a>
    </li>
    <li>
      <a class="button" routerLink="/teacher" routerLinkActive="activebutton">Teacher</a>
    </li>
    <li>
      <a>Student</a>
    </li>
    <li>
      <a class="button" routerLink="/admin" routerLinkActive="activebutton">
        Admin</a>
    </li>
  </ul>
   
</nav>