<nav  class="navContainer">
  <ul class="navLinks">
    <li routerLink="/dashboard">
      <fa-icon [icon]="dashboradIcon" class="navIcons"></fa-icon>
      <a class="button">
        Dashboard</a>
    </li>
    <li routerLink="/parent" routerLinkActive="activebutton">
      <fa-icon [icon]="parentIcon" class="navIcons"></fa-icon>
      <a class="button">Parent</a>
    </li>
    <li routerLink="/teacher" routerLinkActive="activebutton">
      <fa-icon [icon]="teacherIcon" class="navIcons"></fa-icon>
      <a class="button">Teacher</a>
    </li>
    <li>
      <fa-icon [icon]="studentIcon" class="navIcons"></fa-icon>
      <a>Student</a>
    </li>
    <li routerLink="/admin" routerLinkActive="activebutton">
      <fa-icon [icon]="adminIcon" class="navIcons"></fa-icon>
      <a class="button">
        Admin</a>
    </li>
  
    <li class="logOut" (click)="logOut()">
      <fa-icon [icon]="logOutIcon" class="navIcons"></fa-icon>
      <a>Log out</a>
    </li>

    <li id="hamburgerMenu" (click)="toggleDisplaySideNav()">
      &#9776;
    </li>

</ul>
</nav>
<app-sidenav *ngIf="showSideNav" (logOutEvent)="logOut()"></app-sidenav>