<div class="container">
<ul class="navLinks">
    <li routerLink="/dashboard">
      <a class="button">
        Dashboard</a>
    </li>
    <br>
    <li routerLink="/parent" routerLinkActive="activebutton">
      <a class="button">Parent</a>
    </li>
    <br>
    <li routerLink="/teacher" routerLinkActive="activebutton">
      <a class="button">Teacher</a>
    </li>
    <br>
    <li>
      <a>Student</a>
    </li>
    <br>
    <li routerLink="/admin" routerLinkActive="activebutton">
      <a class="button">
        Admin</a>
    </li>
    <br>
  
    <li class="logOut" (click)="logOut()">
      <a>Log out</a>
    </li>
    <br>
</ul>
</div>

